.chat-scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.chats {
    max-width: 700px;
    margin: 0 auto;
    padding: 8rem 2rem;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 700px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}